[["getting-started.md"    "Getting Started"            "topic"]
 ["differences.md"        "Differences from Clojure"   "topic"]
 ["writing-libraries.md"  "Writing Libraries"          "topic"]
 ["host-interop.md"       "Host Interop"               "topic"]
 ["libraries.md"          "Supported Libraries"        "topic"]]
